<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, OPTIONS"
    Header always set Access-Control-Allow-Headers "Origin, Content-Type, Accept"
</IfModule>

<IfModule mod_mime.c>
    AddType text/xml .xml
</IfModule>
